body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    height: 100vh; 
    margin:2% 25%;
}

.expense-tracker {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
}

.expense-tracker h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.input, .filter {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.input input, .input select, .filter input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input select {
    background-color: #fff;
    color: #333;
    width: 100%;
    object-fit: fill;
}

button#inbtn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button#inbtn:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

table td button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 2%;
}

table td button:hover {
    background-color: #c82333;
}

#totalAmount {
    font-weight: bold;
    color: #007bff;
}
.expense-tracker{
    padding: 3% ;
}
